* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: bisque;
}

.cards-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    border-radius: 50%;
}

.card{
    flex: 1 1 calc((100% - 2rem) / 3);
    align-items: center;
}

body{
    justify-content: center;
    align-items: center;
}



